name: Publish Docker image
on:
  push:
    branches:
      - master
  release:
    types:
     - published
jobs:
  push_to_registry:
    name: Push Docker image to multiple registries
    runs-on: ubuntu-latest
    steps:
      -
        name: Check out the repo
        uses: actions/checkout@v2

      -
        name: Prepare
        id: prep
        run: |
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/}
          elif [[ $GITHUB_REF == refs/heads/* ]]; then
            VERSION=$(echo ${GITHUB_REF#refs/heads/} | sed -r 's#/+#-#g')
          elif [[ $GITHUB_REF == refs/pull/* ]]; then
            VERSION=pr-${{ github.event.number }}
          fi

          if [[ $VERSION == "master" ]]; then
            VERSION=latest
          fi
          TAGS=$(echo "docker.pkg.github.com/${GITHUB_REPOSITORY}/main,ghcr.io/${GITHUB_REPOSITORY}:${VERSION},${GITHUB_REPOSITORY}:${VERSION}" | tr '[:upper:]' '[:lower:]')
          TAGS=$(echo "${GITHUB_REPOSITORY}:${VERSION}" | tr '[:upper:]' '[:lower:]')
          echo ::set-output name=version::${VERSION}
          echo ::set-output name=tags::${TAGS}

          echo ::set-output name=github-package-name::$(echo "${GITHUB_REPOSITORY}/main" | tr '[:upper:]' '[:lower:]')
          echo ::set-output name=github-container-name::$(echo "${GITHUB_REPOSITORY}" | tr '[:upper:]' '[:lower:]')

      -
        name: Setup Docker
        uses: docker/setup-buildx-action@v1.3.0

      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to GitHub Packages
        uses: docker/login-action@v1
        with:
          registry: docker.pkg.github.com
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      -
        name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ci-werkspot
          password: ${{ secrets.CR_PAT }}

      -
        name: Build and push to registries
        uses: docker/build-push-action@v2
        with:
          platforms: linux/amd64
          push: true
          tags: ${{ steps.prep.outputs.tags }}

#      - name: Build and push to DockerHub
#        uses: docker/build-push-action@v1
#        with:
#          username: ${{ secrets.DOCKER_USERNAME }}
#          password: ${{ secrets.DOCKER_PASSWORD }}
#          repository: ${{ env.GITHUB_REPOSITORY }}
#          push: true
#          tag_with_ref: true

      - name: Build and push to GitHub Packages
        uses: docker/build-push-action@v1
        with:
          registry: docker.pkg.github.com
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ steps.prep.outputs.github-package-name }}
          push: true
          tag_with_ref: true

      - name: Build and push to GitHub Container Registry
        uses: docker/build-push-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.CR_PAT }}
          repository: ${{ steps.prep.outputs.github-container-name }}
          push: true
          tag_with_ref: true